<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../fonts/iconfont.css">
</head>

<body>
    <div class="box1">
        <header class="header">
            <i class="iconfont icon-xiangzuo fh"> 返回</i>
            <h2>发表帖子</h2>
            <p class="fs">发帖</p>
        </header>
        <main class="main">
            <input type="text" placeholder="标题  (60字以内)" id="h2">
            <input type="" placeholder="内容" id="p">
        </main>
    </div>
    <script src="../js/libs/require.js"></script>
    <script>
        require(['../js/main.js'], function() {
            require(['nr']);
        })
    </script>
</body>

</html>